<section class="main">
    <app-navigation></app-navigation>
    <section class="administration">
        <section class="nav-admin">
            <button [class.active-tab]="selectedTab() === tabDashboard" (click)="setSelectedTab(tabDashboard)"><i class="bi bi-speedometer"></i></button>
            <button [class.active-tab]="selectedTab() === tabSearch" (click)="setSelectedTab(tabSearch)"><i class="bi bi-search"></i></button>
            <button [class.active-tab]="selectedTab() === tabTypes" (click)="setSelectedTab(tabTypes)"><i class="bi bi-cpu"></i></button>
            <button [class.active-tab]="selectedTab() === tabModels" (click)="setSelectedTab(tabModels)"><i class="bi bi-upc"></i></button>
            <button [class.active-tab]="selectedTab() === tabManufacturers" (click)="setSelectedTab(tabManufacturers)"><i class="bi bi-buildings"></i></button>
            <button [class.active-tab]="selectedTab() === tabCapabilities" (click)="setSelectedTab(tabCapabilities)"><i class="bi bi-stars"></i></button>
            <button [class.active-tab]="selectedTab() === tabControlTypes" (click)="setSelectedTab(tabControlTypes)"><i class="bi bi-ethernet"></i></button>
            <button [class.active-tab]="selectedTab() === tabTasks" (click)="setSelectedTab(tabTasks)"><i class="bi bi-list-check"></i></button>
        </section>
        <section class="administration-selected-pane">
            @if (supportsAddEntry(selectedTab())) {
                <section class="quick-add border items">
                    <section class="input">
                        <label for="name">Name</label>
                        <input name="name" type="text" [ngClass]="getNameTextTransform(selectedTab())">
                    </section>
                    @if (supportsDescription(selectedTab())) {
                        <section class="input">
                            <label for="name">Description</label>
                            <input name="name" type="text" [ngClass]="getDescriptionTextTransform(selectedTab())"/> 
                        </section>
                    }

                    @if (selectedTab() === tabModels) { }
                    <button>Add {{selectedTab()}}</button>
                </section>
            }
            @if (selectedTab() === tabDashboard) {
                <section class="content dashboard">
                    <section class="stats">
                        <article class="stat-item border">
                            <section class="detail">
                                <span class="stat-title">Types</span>
                                <span class="stat-count">{{types().length}}</span>
                            </section>
                            <section class="icon">
                                <i class="bi bi-cpu"></i>
                            </section>
                        </article>
                        <article class="stat-item border">
                            <section class="detail">
                                <span class="stat-title">Models</span>
                                <span class="stat-count">{{models().length}}</span>
                            </section>
                            <section class="icon">
                                <i class="bi bi-upc"></i>
                            </section>
                        </article>
                        <article class="stat-item border">
                            <section class="detail">
                                <span class="stat-title">Manufacturers</span>
                                <span class="stat-count">{{manufacturers().length}}</span>
                            </section>
                            <section class="icon">
                                <i class="bi bi-buildings"></i>
                            </section>
                        </article>
                        <article class="stat-item border">
                            <section class="detail">
                                <span class="stat-title">Control Types</span>
                                <span class="stat-count">{{controls().length}}</span>
                            </section>
                            <section class="icon">
                                <i class="bi bi-ethernet"></i>
                            </section>
                        </article>
                        <article class="stat-item border">
                            <section class="detail">
                                <span class="stat-title">Capabilities</span>
                                <span class="stat-count">{{capabilities().length}}</span>
                            </section>
                            <section class="icon">
                                <i class="bi bi-stars"></i>
                            </section>
                        </article>
                        <article class="stat-item border">
                            <section class="detail">
                                <span class="stat-title">Commissioning Tasks</span>
                                <span class="stat-count">{{tasks().length}}</span>
                            </section>
                            <section class="icon">
                                <i class="bi bi-list-check"></i>
                            </section>
                        </article>
                    </section>
                    <section class="quick-add border content-margin-padding">
                        <section class="title">
                            <h1>Add New Device</h1>
                        </section>
                        <app-device-pane [capabilities]="capabilities()" [controls]="controls()" [submitButtonText]="btnText"></app-device-pane>
                    </section>
                </section>
            }
            @else if(selectedTab() === tabTypes) {
                <section class="content items content-margin-padding">
                    @for (item of types(); track $index) {
                        <button class="item border prefix" (click)="searchItem(tabTypes, item.name)">
                            <section class="item-name">{{item.name}}</section>
                            <section class="item-description">{{item.description}}</section>
                        </button>
                    }
                </section>
            }
            @else if(selectedTab() === tabSearch) {
            }
            @else if(selectedTab() === tabModels) {
                <section class="content items content-margin-padding">
                    @for (item of models(); track $index) {
                        <button class="item border device" (click)="searchItem(tabModels, item.name)">
                            <section class="item-name"><span class="item-manufacturer">{{item.manufacturer_name}}</span>: {{item.name}}</section>
                            <section class="item-control-type">{{item.control_type_name}}</section>
                        </button>
                    }
                </section>
            }
            @else if(selectedTab() === tabManufacturers) {
                <section class="content items content-margin-padding">
                    @for (item of manufacturers(); track $index) {
                        <button class="item border manufacturer" (click)="searchItem(tabTypes, item.name)">
                            <section class="item-name">{{item.name}}</section>
                        </button>
                    }
                </section>
            }
            @else if(selectedTab() === tabCapabilities) {
                <section class="content items content-margin-padding">
                    @for (item of capabilities(); track $index) {
                        <button class="item border capability" (click)="searchItem(tabTypes, item.name)">
                            <section class="item-name">{{item.name}}</section>
                        </button>
                    }
                </section>
            }
            @else if(selectedTab() === tabControlTypes) {
                <section class="content items content-margin-padding">
                    @for (item of controls(); track $index) {
                        <button class="item border control-type" (click)="searchItem(tabTypes, item.name)">
                            <section class="item-name">{{item.name}}</section>
                        </button>
                    }
                </section>
            }
            @else if(selectedTab() === tabTasks) {
                <section class="content items content-margin-padding">
                    @for (item of tasks(); track $index) {
                        <button class="item border task" (click)="searchItem(tabTypes, item.name)">
                            <section class="item-name">{{item.name}}</section>
                            <section class="item-description">{{item.description}}</section>
                        </button>
                    }
                </section>
            }
        </section>
    </section>
</section>