<form class="suggestion-form" #suggestionbox="ngForm" (ngSubmit)="submitSuggestion()">
        <section>
            <h2>Device Details</h2>
        </section>
    
        <section class="layout shrink">
            <section class="container">
                <label for="prefix">Device Prefix:</label>
                <input class="uppercase" id="prefix" type="text" required placeholder="EXP"/>
            </section>

            <section class="container">
                <label for="mfr">Device Manufacturer Name:</label>
                <input class="uppercase" id="mfr" type="text" placeholder="Shure"/>
            </section>

            <section class="container">
                <label for="model">Device Model Name:</label>
                <input class="uppercase" id="model" type="text" placeholder="MXA910"/>
            </section>
        </section>

        <section class="members">
            <section class="layout">
                <section class="title">
                    <h2>Device Capability</h2>
                </section>
                @for (capability of capabilities(); track capability) 
                {
                    <section class="container shrink">
                        <label for="{{capability.name}}">{{capability.name}}</label>
                        <input class="lowercase" id="{{capability.name}}" type="checkbox"/>
                    </section>
                }
                @empty
                { 
                    <section>
                        <label>No Capabilities Available</label>
                    </section>
                }
            </section>
            
            <section class="layout">
                <section class="title">
                    <h2>Device Control Type</h2>
                </section>
                @for (type of controls(); track type) 
                {
                    <section class="container shrink">
                        <label for="{{type.name}}">{{type.name}}</label>
                        <input class="lowercase" id="{{type.name}}" type="checkbox"/>
                    </section>
                }
                @empty
                { 
                    <section>
                        <label>No Control Types Available</label>
                    </section>
                }
            </section>
        </section>
        <button type="submit">{{submitButtonText()}}</button>
    </form>